<h3><strong><u><center>Edit Idea</center></u></strong></h3>
<center>
<form action ="/update_idea/<%= @coolpeople.id %>">
  <input type="text" name="ideatitle" placeholder="Idea Name" value="<%= @coolpeople.ideatitle %>">
  <br>
  <br>
  <input type="text" name="idea" placeholder="Idea" value="<%= @coolpeople.idea %>">
  <br>
  <br>
  <input type="submit">
</form>
</center>