<h3><strong><u><center>Edit Movie</center></u></strong></h3>
<center>
<form action ="/update_movie/<%= @coolpeople.id %>">
  <input type="text" name="name" placeholder="Name" value="<%= @coolpeople.name %>">
  <br>
  <br>
  <input type="text" name="imgurl" placeholder="Image URL" value="<%= @coolpeople.imgurl %>">
  <br>
  <br>
  <input type="submit">
</form>
</center>