<h3><strong><u><center>New User</center></u></strong></h3>
<center>
<form action ="/create_user">
  <input type="text" name="name" placeholder="Name">
  <br>
  <br>
  <input type="text" name="date" placeholder="Lifetime (year-year)">
  <br>
  <br>
  <input type="text" name="location" placeholder="Location">
  <br>
  <br>
  <input type="text" name="imgurl" placeholder="Image URL">
  <br>
  <br>
  <input class="swagpercentform" type="text" name="barpercent" placeholder="Swag Percentage (with % sign)">
  <br>
  <br>
  <textarea class="descform" name="desc" placeholder="Description" cols="80" rows="8" maxlength="802"></textarea>
  <br>
  Max Characters: 802
  <br>
  <br>
  <input type="submit">
</form>
</center>