<h3><strong><u><center>New Movie</center></u></strong></h3>
<center>
<form action ="/create_movie">
  <input type="text" name="name" placeholder="Name">
  <br>
  <br>
  <input type="text" name="imgurl" placeholder="Image URL">
  <br>
  <br>
  <input type="submit">
</form>
</center>