<h3><strong><u><center>New Idea</center></u></strong></h3>
<center>
<form action ="/create_idea">
  <input type="text" name="ideatitle" placeholder="Idea Name">
  <br>
  <br>
  <input type="text" name="idea" placeholder="Idea">
  <br>
  <br>
  <input type="submit">
</form>
</center>