<h3><strong><u><center>New User</center></u></strong></h3>
<center>
<form action ="/create_user">
  <input type="text" name="name" placeholder="Name">
  <br>
  <br>
  <input type="text" name="date" placeholder="Date">
  <br>
  <br>
  <input type="text" name="location" placeholder="Location">
  <br>
  <br>
  <input type="text" name="imgurl" placeholder="Image URL">
  <br>
  <br>
  <input class="swagpercentform" type="text" name="barpercent" placeholder="Swag Percentage (with % sign)">
  <br>
  <br>
  <input class="descform" type="text" name="desc" placeholder="Description">
  <br>
  <br>
  <input type="submit">
</form>
</center>