<div class="container">
  <div class="column">
    <div class="row">
    
<div>
  <h3><center><strong><%= @coolpeople.ideatitle %></strong></center></h3><br>
  <p><center><%= @coolpeople.idea %></center></p>
</div>
       <div class="col-md-2">
       <div class="col-md-10"> 
      <div class="col-md-2">     
<center>
<div class="bs-example">
  <div class="btn-group">
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/idea/<%= @coolpeople.id %>/edit">Edit</a>
        <a href="/idea/<%= @coolpeople.id %>/delsure">Delete</a>
      </li>     
    </ul>
  </div><!-- /btn-group -->
</div>
</center>  
